# dependencies & build artifacts
node_modules
dist
src/generated

# environment & local overrides
.env
.env.*
.home

# logs & caches
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# editors/OS
.DS_Store
.idea
.vscode
